/* 1. Blue (#4567b7)
2. White (#ffffff)
3. Light Gray (#f7f7f7)
4. Cream (#ffffe0)
5. Navy Blue (#1a1d23)
 */

 *{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1d23;
    height: 70px;
}
nav .logo{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 50px;
    letter-spacing: 8px;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li .lien{
    border-radius: 10px;
    margin: 10px;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: .5s;
}
nav ul li .lien:hover{
    color: #4567b7;
}
#searchli{
    position: relative;
}
nav ul li button{
    margin-right: 100px;
    width: 50px;
    height: 100%;
    font-weight: 700;
    color: white;
    background-color: #1a1d23 !important;
    text-transform: uppercase;
    z-index: 2;
    cursor: pointer;
    border: transparent;
    transition: .5s;
    position: absolute;
    right: -15.1%;
}
#search-bar{
    position: relative;
    right: -100% !important;
    opacity: 0;
    transition: right 1s;
    z-index: -1;
}
#search-bar:hover{
    opacity: 1;
    transition: right 0s;
    left: 0;
    z-index: 1 !important;
}
#search-bar:focus{
    opacity: 1;
    transition: right 0s;
    left: 0;
    z-index: 1 !important;
}
nav ul li:has(#search-bar:hover) button{
    background-color: #1a1d23 !important;
    color: lightblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav ul li:has(#search-bar:focus) button{
    background-color: #1a1d23 !important;
    color: lightblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav ul li button:hover{
    background-color: #1a1d23 !important;
    color: lightblue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
nav ul li:has(button:hover) #search-bar{
    opacity: 1;
    z-index: 1 !important;
    left: 0;
}  
nav ul li input{
    width: 600px;
    padding: 20px;
    padding-left: 40px;
    height: 5px;
    background: no-repeat 10px center white;
    outline: none;
    border: transparent;
    border-radius: 10px;
    background-size: 20px 20px;
}
